$sky-nav: #74c7d5;
$red-nav: #df5c64;
$red-bg: #b24a50;
$violet-nav: #91778e;
$violet-bg: #665464;
$green-nav: #a1ca6c;
$green-bg: #83a457;
$blue-nav: #82c8bd;
$blue-bg: #75b4aa;
$footer-bg: #68a097;
